@import "../../vars.css";

.container {
    display: flex;
    background-color: var(--color-two);
    color: var(--color-one);
    font-size: 18px;
    font-family: var(--font-body);
    border-bottom: 1px solid var(--color-one);
    border-top: 1px solid var(--color-one);

}

.aboutTitle, .aboutDescription {
    padding: 32px 72px;
    border-bottom: 1px solid var(--color-one);
}

.aboutTitle h2 {
    font-family: var(--font-heading);
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 2%;
    text-transform: uppercase;
}

.skills {
    padding: 5% 72px 2% 72px;
    display: flex;
   align-items: center;
   justify-content: space-between;
}

.skills img {
    width: 70%;
}

.aboutImage {
    padding-right: 72px;
    height: 500px;
}

.aboutImage img {
    height: 100%;
}

@media screen and (max-width: 840px) {
    .container {
        flex-direction: column-reverse;
    }

    .aboutImage {
        padding: 0px 32px;
    }

    .aboutImage img {
        width: 100%;
        object-fit: contain;
}


    .aboutTitle{
        border-top: 1px solid var(--color-one);
    }

    .aboutTitle, .aboutDescription {
        padding: 32px 32px;
}

    .skills {
    padding: 5% 32px 2% 32px;
    justify-content: space-between;
    gap: 20px
}

    .skills img {
        width: 100%;
}
}