@import "../../vars.css";

.container {
    padding: 52px 72px;
    border-bottom: 1px solid var(--color-one);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    background-color: var(--color-two);
    position: sticky;
    top: 0;

}

.title {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
    color: var(--color-one);
    font-family: var(--font-heading);
}

.menuItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    list-style: none;
    

}

.menu{
    display: flex;
}

.menuItems a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.7px;
    cursor: pointer;
    color: var(--color-one);

}

.menuItems a:hover {
    color: var(--color-white);
}

 .menuButton {
        width: 28px;
        height: 28px;
        display: none;
    }

@media screen and (max-width: 840px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }


   .menuButton {
    display: block;
    cursor: pointer;
   }

   .menuItems{
    display: none;
    flex-direction: column;
    background-color: var(--color-glass);
    gap: 12px;
    border-radius: 12px;
    padding: 24px 32px;
    align-items: flex-end;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
   }
   .openMenu {
    display: flex;
    z-index: 1;
   }

   .menu {
    position: absolute;
    top: 60%;
    right: 0;
    z-index: 99;
    margin-right: 10%;
   }
   .menuItems a:hover {
    color: var(--color-two);
}

   /* .menuItems a {
    background-color: var(--color-white);
   } */
}
